@media (max-width: 1199.98px) {
    .card{
        padding: 4px;
        width: 133px;
        height: 176px;
        margin: 6px;
        font-size: 14px;
    }

    .card-inner-border{
        margin: 10px 16px 10px 16px;
        width: 90px;
        height: 118px;
        line-height: 94px;
        font-size: 36px;
    }
    
    .card-corner-number{
        right: 4px;
        bottom: 4px;
        font-size: 14px;
    }
    
    .rightpanel{
        width: 100%;
        margin: 0;
        margin-bottom: 24px;
        max-width: calc(100vw - 32px);
    }

    .header{
        width: 100%;
    }

    .cardboard{
        width: 100%;
    }

    .body{
        width: 100%;
        box-sizing: border-box;
    }

    .story-content{
        display: flex;
        flex-direction: column;
        height: 130px;
        overflow: auto;
    }

    .mainblock{
        width: 100%;
        padding-right: 0px;
    }
}

@media (max-width: 991.98px) {
    .card{
        padding: 4px;
        width: 90px;
        height: 120px;
        margin: 6px;
        font-size: 14px;
    }

    .card-inner-border{
        margin: 4px 14px 12px 14px;
        width: 52px;
        height: 72px;
        line-height: 72px;
        font-size: 24px;
    }
    
    .card-corner-number{
        right: 4px;
        bottom: 4px;
        font-size: 14px;
    }

    .rightpanel{
        margin-bottom: 24px;
    }
}

@media (max-width: 767.98px) {
    .card{
        padding: 4px;
        width: 60px;
        height: 80px;
        margin: 6px;
        font-size: 8px;
    }

    .card-inner-border{
        margin: 0px 8px 6px 8px;
        width: 32px;
        height: 50px;
        line-height: 50px;
        font-size: 12px;
    }
    
    .card-corner-number{
        right: 4px;
        bottom: 4px;
        font-size: 8px;
    }

    .stories{
        min-width: 0px;
        width: 100%;
    }

    .rightpanel{
        width: 100%;
        margin: 0;
        margin-bottom: 24px;
    }
}

@media (max-width: 424.98px) {
    .story-tab{
        font-size: 10px;
    }
}