.invite-member{
    border: 1px solid rgb(81,159,233);
    border-radius: 5px;
    background-color: white;
    margin-top: 24px;
    height: 138px;
    padding: 16px;
    margin-bottom: 24px;
}

.invite-head{
    font-size: 18px;
    height: 46px;
    text-align: center;
    line-height: 46px;
}

.invite-description{
    font-size: 12px;
    height: 46px;
    text-align: center;
    color: lightgray;
}