body{
    display:flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #EEF3F8;
}

.main{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.header-wrap{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 4000px;
}

.header{
    max-width: 1170px;
    width: 1170px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 100px;
    padding: 0px 16px 0px 16px;
}

.body{
    max-width: 1170px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 0px 16px 0px 16px;
}

.content{
    display: flex;
    flex-flow: row wrap;
}

.mainblock
{
    box-sizing: border-box;
    width: 75%;
    padding-right: 24px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.story{
    display: flex;
    align-self: flex-start;
}

.story-header{
    display: flex;
    font-size: 24px;
    line-height: 65px;
}

.story-name-edit{
    display: flex;
    align-self: center;
    max-height: 28px;
}

.cardboard{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    width: 850px;
    padding: 16px;
    box-sizing: border-box;
}

.infoblock{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    width: 850px;
    padding: 16px 0px 16px 0px;
    box-sizing: border-box;
}

.roundresult-window{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(81,159,233);
    border-radius: 10px;
    min-height: 600px;
}

.waiting-round-window{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid rgb(81,159,233);
    border-radius: 10px;
    min-height: 600px;
    font-size: 22px;
}

.rightpanel{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    width: 25%;
    min-width: 288px;
    margin: 16px 0px 16px 0px;
}