div.card-window#card-window
  div.card-window-field
    span Valuable 
    input#card-window-type(type = "checkbox")
  div.card-window-field
    span Card name 
    input#card-window-name(type = "text")
  div.card-window-field
    span Card value 
    input#card-window-value(type = "number")
  div.card-window-field
    button.mybutton.mybutton-medium#card-window-button OK