div#create-room
    div.room-create-roomname Room name
        input(type="text", name="Room name", id="create-room-name")
    div.room-create-username Your name
        input(type="text", name="User name", id="create-room-username")
    div.room-create-deck
        select(name="deck", required)
            option() Default
            option() Only numbers
    div.room-create-button
        button(id="create-room-button") Create room