div.deck-window#deck-window
  div.deck-name
    span Deck name 
    input#deck-name(type = 'text') 
  div.deck-cardboard#deck-cardboard
    div.card#deck-add-card +
      div.card-inner-border +
      div.card-corner-number +
  div.deck-create-button
    button.mybutton.mybutton-medium#deck-create-button Create deck
