div.header-wrap 
    div.header
        div.room-name 
            h1#roomName Room for sprint 1
        div.profile 
            div#profile-name Username 
            div.img
                img(class='profile-icon', src='images/user.png')        