div.header-wrap 
    div.header
        div.room-name 
            h1#room-name Room name
        div.profile 
            div.profile-name
                span#profile-name Username 
            div.img
                img(class='profile-icon', src='images/user.png')        