div.invite-member
    p.invite-head Invite new member
    p.invite-description Copy room url to clipboard and send it to new member
    div.mybutton-high-wrap
        button(class='mybutton mybutton-high', id='invite-link') Copy url