div.invite-member
    p.invite-head Invite new member
    p.invite-description Copy room url to clipboard and send it to new member
    div.mybutton-high-wrap
        button.mybutton.mybutton-high Copy url