div#login
    div.login-name Name
        input(type="text", id='login-name')
    div.room-create-password Password
        input(type="password", name="Room password", id="login-password")
    div.login-button
        button#login-button Log in