div.login#login
    div.login-field 
        span Name
        input#login-name(type="text")
    div.login-field
        span Password
        input#login-password(type="password", name="Room password")
    div.login-button
        button.mybutton.mybutton-medium#login-button Log in