div.room-panel
    div.status Waiting for Username to vote
    div.timer
        div.remains Remains
        div.time ⏰ 00:00:00
    div.users   
    div.time-buttons
        button.mybutton.mybutton-medium#start-round Start round
        button.mybutton.mybutton-medium#reset-timer Reset timer
        button.mybutton.mybutton-medium#finish-round Finish