div.roundresult-window#roundresult-window
  div.roundresult-average
    div.roundresult-field
      span Average score:
      span.roundresult-average-score 100
  div.roundresult-choices
    div.roundresult-choice
      div.roundresult-field
        span Name: 
        div.roundresult-name
          span Alex
      div.roundresult-field
        span Value: 
        div.roundresult-value
          span 100
      div.roundresult-field
        span Card: 
        div.roundresult-chosen-card
          div.mini-card 100