template#user
  div.user
    div.img
      img(class="user-icon" src="images/user.png")
      div.dot.dot-red
    span
template#story
  div.story-element
    div.story-element-text
      span
    div.story-element-delete#story-delete
template#card
  div.card
    span
    div.card-inner-border
      span
    div.card-corner-number
      span
template#choice
  div.choice
    span
  div.chosen-card