html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Planning poker
        link(rel='stylesheet',href='css/style.css')
    body
        script(type="text/javascript" src="index.min.js")
        div.main#main
            include elements/header
            div.body
                include elements/storyheader
                div.content
                    div.mainblock
                        include elements/cardboard
                        div.infoblock#infoblock
                            include elements/roundresult
                            include elements/waiting
                        include elements/storypanel
                    div.rightpanel
                            include elements/roompanel
                            include elements/invitepanel
        include elements/createroom
        include elements/login
        include elements/deckbuilder
        include elements/cardwindow
    include elements/templates